.notas label {
    color: #9FA2B4;
    font-weight: bold;
    font-size: 0.8rem;
}

.nota-chip-status {
    width: fit-content;
    font-size: 0.7rem;
}

.notas table {
    font-size: 0.9rem;
}

.notas-subtable-label {
    font-size: 0.8rem;
    color: #9FA2B4;
}